/* universal styles */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
}
.primary-head {
  grid-column: span 3;
  position: fixed;
  width: 100%;
}
.primary-nav {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.primary-content {
  grid-column: span 3;
}
.primary-footer {
  grid-column: span 3;
}